h1{
	color: #00FF00;
	font-weight: normal;
	letter-spacing: .2em;
	margin-bottom: 1em;
	text-align:center;
}

h2{
	color: #FF0000;
}

#documentation{
	position: relative;
}
#canvas {
	position:relative;
	width:100%;
	height:100%;
	border:1px solid #000000;
}
#div_2{
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#div_1{
	position:relative;
	top:150px;
	left:405px;
	right:100px;
	width:800px;
}
#chartContainer{
	clear:both;
	position:relative;
	height:250px;
}
#table1{
	postion:relative;
}
p{
	text-align:left;	
	font-size:20;
}
